{% extends 'ERPGameBundle::layout.html.twig' %}

{% block body %}
<div class="page-header">
      <h1>Fornecedor</h1>
</div>

<div class="row-fluid">
         <p><strong>Id</strong>
            {{ entity.id }}
        </p>
         <p><strong>Nome</strong>
            {{ entity.nome }}
        </p></div>
	<div class="form-actions">
        <a class="btn" href="{{ path('fornecedor') }}">
            Retour à la liste
        </a>
</div>{% endblock body %}