{% extends 'ERPGameBundle::layout.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Cadastrar: cliente</h1>
</div>

<form action="{{ path('cliente_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form,{'form_type': 'horizontal'}) }}
    <div class="control-group">
        <div class="controls">
                 <button type="submit" class="btn btn-primary">Criar</button>
        </div>
    </div>
</form>
 
	<div class="form-actions">
        <a class="btn" href="{{ path('cliente') }}">
            Voltar para Lista
        </a>
</div>{% endblock body %}