<div class="btn-group">
<a class="btn" href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}" title="Visualizar"><i class="icon-eye-open"></i></a>
<a class="btn" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" title="Editar"><i class="icon-edit"></i></a>   
</div>